@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1669172161747') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianyingpiao:before {
  content: "\f027e";
}

.icon-fangxiang-xiangxia:before {
  content: "\e614";
}

.icon-fangxiang-xiangshang:before {
  content: "\e615";
}

.icon-fangxiang-xiangzuo:before {
  content: "\e616";
}

.icon-fangxiang-xiangyou:before {
  content: "\e617";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-yingyuan:before {
  content: "\e8c0";
}

